/*Display Card Image*/

.DisplayCardImage {
  width: auto;
  height: 340px;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.DisplayCard {
  opacity: 0%;
}
.DisplayCard:hover {
  opacity: 100%;
}
.ItemCard {
  background-color: #a1895c;
  height: 215px;
  width: 340px;
  text-align: center;
  padding: 0rem;
  opacity: 75px;
  position: absolute;
}
.ItemBox {
  width: 215px;
  height: 340px;
}
.DisplayCardContainer {
  display: grid;
  grid-row: 1rem 1rem 1rem 1rem;
  columns: 1rem 1rem;
  gap: 1rem;
}
